"*":
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      genAccent: true
      predefinedColor: "Grey"
    tabs:
      compactTabs: true
    ui:
      useAnimations: false
  core:
    disabledPackages: [
      "about"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "dracula-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "9a4e2607-c58a-44e2-9cae-dccd37bd1a5a"
  "hey-pane": {}
  "ide-python":
    pylsPlugins:
      jedi_completion: {}
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes: {}
      pylint: {}
      rope_completion:
        enabled: true
  "no-title-bar": {}
  "status-bar": {}
  tabs: {}
  "terminal-tab":
    shellSettings:
      shellPath: "/bin/bash"
  "terminal-tab-plus":
    shellSettings:
      shellPath: "/bin/bash"
  welcome:
    showOnStartup: false
